n8n/01-novo-lead.json
{
  "name": "LeadCapture Pro - Novo Lead (v2)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "leads",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Lead",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst lead = body;\n\nconst score = lead.score || 0;\nconst categoria = lead.categoria || 'cold';\n\nreturn [{\n  json: {\n    leadId: lead.leadId,\n    nome: lead.nome,\n    email: lead.email,\n    telefone: lead.telefone,\n    score,\n    categoria,\n    capital: lead.capital,\n    regiao: lead.regiao,\n    marca: lead.marca,\n    tenant_id: lead.tenant_id,\n    fonte: lead.fonte,\n    timestamp: lead.timestamp,\n    prioridade: categoria === 'hot' ? 'urgente' : categoria === 'warm' ? 'alta' : 'normal'\n  }\n}];"
      },
      "id": "process-lead",
      "name": "Processar Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-hot",
              "leftValue": "={{ $json.categoria }}",
              "rightValue": "hot",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-hot",
      "name": "É Lead Quente?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook Lead": { "main": [[{ "node": "Processar Lead", "type": "main", "index": 0 }]] },
    "Processar Lead": { "main": [[{ "node": "É Lead Quente?", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "leadcapture" }]
}
