n8n/lead-qualification-sequence.json
{
  "name": "LeadCapture - Sequência de Qualificação",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-new",
        "responseMode": "onReceived",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "webhook-new-lead",
      "name": "Novo Lead Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "minutes"
      },
      "id": "wait-30min",
      "name": "Aguardar 30min",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "no-contact",
              "leftValue": "={{ $json.contacted }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-not-contacted",
      "name": "Não Contatado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [750, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/{{ $env.EVOLUTION_INSTANCE }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.telefone }}"
            },
            {
              "name": "textMessage",
              "value": "={ \"text\": \"Olá {{ $json.nome.split(' ')[0] }}! 👋\\n\\nVi que você demonstrou interesse em franquear, mas ainda não conseguimos falar.\\n\\nPodemos conversar? Responda com o melhor horário para você! 📞\" }"
            }
          ]
        }
      },
      "id": "followup-whatsapp",
      "name": "Follow-up WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1000, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.API_URL }}/api/leads/{{ $json.leadId }}/log",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "action",
              "value": "followup_sent"
            },
            {
              "name": "channel",
              "value": "whatsapp"
            },
            {
              "name": "automated",
              "value": true
            }
          ]
        }
      },
      "id": "log-followup",
      "name": "Registrar Follow-up",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "amount": 24,
        "unit": "hours"
      },
      "id": "wait-24h",
      "name": "Aguardar 24h",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1000, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.API_URL }}/api/email/send",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $json.email }}"
            },
            {
              "name": "template",
              "value": "lead-followup"
            },
            {
              "name": "data",
              "value": "={{ JSON.stringify($json) }}"
            }
          ]
        }
      },
      "id": "followup-email",
      "name": "Follow-up Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 400]
    }
  ],
  "connections": {
    "Novo Lead Webhook": {
      "main": [
        [
          {
            "node": "Aguardar 30min",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguardar 30min": {
      "main": [
        [
          {
            "node": "Não Contatado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não Contatado?": {
      "main": [
        [
          {
            "node": "Follow-up WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aguardar 24h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Follow-up WhatsApp": {
      "main": [
        [
          {
            "node": "Registrar Follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguardar 24h": {
      "main": [
        [
          {
            "node": "Follow-up Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "leadcapture",
      "createdAt": "2024-01-01T00:00:00.000Z"
    },
    {
      "name": "automation",
      "createdAt": "2024-01-01T00:00:00.000Z"
    }
  ]
}